// fonts
$font-main: 'Dosis', sans-serif;

// colors
$white: white;
$black: black;
$grey: grey;

$dark: #34232a;
$purple: #614051;
$lila: #967284;
$pink: #cfa8bb;
$yellow: #f8de7e;
$light-yellow: #feeeb8;

// transparent colors
$whiteT: rgba(255, 255, 255, 0.5);
$blackT: rgba(0, 0, 0, 0.5);
$greyT: rgba(128, 128, 128, 0.5);

$darkT: #34232ab0;
$purpleT: #614051ab;
$lilaT: #96728480;
$pinkT: #cfa8bba5;
$yellowT: #f8de7ed5;
$light-yellowT: #feeeb880;