// fonts
$font-main: 'Dosis', sans-serif;

// colors
$white: white;
$black: black;
$grey: grey;

$dark: #34232a;
$purple: #614051;
$lila: #967284;
$color: #cfa8bb;
$yellow: #f8de7e;
$light-yellow: #feeeb8;
