.page__footer {
  @include text($font-main, 600, 1.5rem, $purple);
  height: 3vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: flex-end;
  background-color: $yellow;
  @include box;
  width: 100%;
}
