.header {
  @include sections;
  background-color: $yellow;
  width: 100%;
  height: 9vh;
  &__title {
    @include text($font-main, 800, 2.5rem, $dark);
  }
  &__search {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    &--input {
      background-color: transparent;
      @include sections;
    }
    &--btn {
      background-color: $purple;
      @include sections;
    }
  }
}
