.header {
  background-color: lightyellow;
  width: 100%;
  height: 8vh;
  &__search{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    &--input{
      background-color: transparent;
    }
    &--btn{
      color: black;
    }
  }
}
