.header {
  @include boxDeep($greyT,$blackT);
  margin: 0.6rem;
  padding-left: 1rem;
  background-image: linear-gradient(90deg, $yellowT, $yellow, $pinkT), 
  url("./assets/images/film-solid.svg");
  width: 100%;
  min-height: 15vh;
  @media (min-width: 768px) {
    min-height: 20vh;
    padding: 2.5rem;
  }
  @media (min-width: 1200px) {
    min-height: 35vh;
    padding-left: 5rem;
  }
  &__title {
    @include text($font-main, 800, 3rem, $purple);
    @include textDeep($black, $dark);
    padding: 1rem 0;
    @media (min-width: 768px) {
      padding: 0;
      margin: 1.5rem 0;
      @include text($font-main, 800, 6rem, $purple);
    }
  }
  &__search {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    position: fixed;
    
    &--input {
      padding: 0 1rem;
      border: none;
      border-radius: 1.5rem;
      background-color: $pinkT;
      @include text($font-main, 600, 2rem, $dark);
      @media (min-width: 768px) {
        @include text($font-main, 600, 2.5rem, $dark);
        margin-left: 1rem;
      }
      @media (min-width: 1200px) {
        @include text($font-main, 600, 3rem, $dark);
      }
    }
    &--btn {
      border: solid 0.1rem $purpleT;
      border-radius: 35%;
      padding: 0.25rem 0.6rem;
      background-color: $pinkT;
      transition: 0.4s;
      @include text($font-main, 600, 2rem, $dark);
      @media (min-width: 768px) {
        @include text($font-main, 600, 2.5rem, $dark);
      }
      @media (min-width: 1200px) {
        @include text($font-main, 600, 3rem, $dark);
      }
      &:hover{
        @include boxDeep($pink, $lila);
        border:none;
        cursor: pointer;
        transform: scale(1.2);
        color: $pink;
        background-color: $purpleT;
      }
    }
  }
}
