.matches {
  @include text($font-main, 400, 2rem, $light-yellow);
  @include textDeep ($blackT, $darkT);
  min-height: 77vh;
  @include box;
  text-align: center;
  width: 65%;
  background:linear-gradient($purple,$lilaT);
  img{
    @include box;
    margin-top: 3rem;
  }
}

.selected{
  @include text($font-main, 600, 2rem, $yellow);
  @include textDeep ($pink, $lila);
  background-color: $pinkT;
  border: dotted 0.5rem $yellowT;
}
