.matches {
  @include text($font-main, 400, 2rem, $light-yellow);
  min-height: 82vh;
  @include box;
  text-align: center;
  width: 65%;
  background-color: $purple;
  img{
    @include box;
    margin-top: 3rem;
  }
}

.selected{
  @include text($font-main, 600, 2rem, $yellow);
  background-color: $lila;
  border: solid 0.5rem $yellow;
}
